<html5>
<head>
<title>Display</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'show', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>
    <h1>Show Action</h>
    <div>

        <p>This is the show action created in Display Controller.< /p>

    </div>
    <div>

    <h4>Rails : Controller Created Manually Name:Display</h4>

    <h4>Rails : Action Created Manually Name:Show</h4>

    <h4>Rails : View Created Manually Name:Show</h4>
   
    </div>
</body>
<html>