<h1>Welcome#index</h1>
<h1 style="align:center">Student Project</h1>
<hr>
<h3>Here will be the image </h2>

<hr>
<div>
<article>this is the first article</article>
</div>

<%=link_to 'Page 1', welcome_page2_path%>