<h1>Welcome#page2</h1>
<h1 style="align:center">Student Project</h1>
<hr>
<h3>Here will be the image </h2>

<hr>
<div>
<article>this is the Second article</article>
</div>

<%= link_to 'Index', welcome_index_path%>